<%- include('head'); -%>

<body>
	<div class="flex overflow-hidden bg-gray-100">

		<%- include('nav'); -%>

		<div class="main-prices w-3/4 mx-auto px-5 mt-32 sm:mt-5 md:mt-5 lg:mt-5 min-h-screen">
			<h1 class="text-2xl font-bold leading-7 text-cool-gray-900 sm:leading-9 sm:truncate">Assistance</h1>
			<div class="prices-block">
				<h1>Besoin d'aide ?</h1>
				<br><br>
				<p>Vous pouvez tout d'abord prendre contact avec notre <strong>support technique</strong> en cliquant sur le rond bleu en bas à droite de l'écran.</p>
				<br><br>
				<p>
				Si vous souhaitez <strong>réserver un rdv téléphonique</strong> afin de bénéficier d'une assistance en direct pour la création de votre compte ou l'ajout d'une station, <a href="https://calendly.com/call-jerome-carle/30min/" style="color: #1972F5;">cliquez ici</a>.</p>
				<div>
				</div>
			</div>
		</div>
	</div>
</body>