<%- include('head'); -%>

<body>
<div class="main mt-32 sm:mt-5 md:mt-5 lg:mt-5">
	<h1 class="text-2xl font-bold leading-7 text-cool-gray-900 sm:leading-9 sm:truncate">Page introuvable</h1>
</div>
</body>
</html>