<%- include('head'); -%>

<body>
	<div class="flex overflow-hidden bg-gray-100">

		<%- include('nav'); -%>

		<div class="main-prices w-3/4 mx-auto px-5 mt-32 sm:mt-5 md:mt-5 lg:mt-5 min-h-screen">
			<h1 class="text-2xl font-bold leading-7 text-cool-gray-900 sm:leading-9 sm:truncate">Historique des prix</h1>
			<div class="prices-block">
				<h1>Disponible bientôt...</h1>
				<div>
				</div>
			</div>
		</div>
	</div>
</body>