<dl class="hidden edit-profil-block" id="edit-profil-password">
  <div class="sm:grid sm:grid-cols-3 sm:border-t sm:border-gray-200 sm:gap-4 sm:px-6 sm:py-5">
    <dt class="text-sm leading-5 font-medium text-gray-300-500">
      Nouveau mot de passe
    </dt>
    <dd class="mt-1 text-sm leading-5 text-gray-300-900 sm:mt-0 sm:col-span-2">
      <input class="appearance-none rounded-none relative block w-70 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" type="password" id="password" name="last_name" placeholder="Votre nouveau mot de passe" value="">
    </dd>
  </div> 
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
    <dt class="text-sm leading-5 font-medium text-gray-300-500">
      Confirmez votre nouveau mot de passe
    </dt>
    <dd class="mt-1 text-sm leading-5 text-gray-300-900 sm:mt-0 sm:col-span-2">
      <input class="appearance-none rounded-none relative block w-70 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" type="password" id="password_confirm" name="last_name" placeholder="Confirmez votre nouveau mot de passe" value="">
    </dd>
  </div> 
  <div class="flex mt-5 sm:mt-0 sm:px-6 sm:py-5">
  <button type="submit" name="profil-edit-password_submit" id="profil-edit-password_submit" class="group relative w-20 flex justify-center py-1 px-1 border border-transparent text-sm leading-5 font-small rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out mr-3">
    Valider
  </button>
  <button name="edit-profil-password_cancel" id="edit-profil-password_cancel" class="btn-cancel group relative w-20 flex justify-center py-1 px-1 border border-transparent text-sm leading-5 font-small rounded-md text-black bg-gray-300 hover:bg-black-500 focus:outline-none focus:border-gray-300 focus:shadow-outline-gray-300 active:bg-gray-300 transition duration-150 ease-in-out mr-3">
    Annuler
  </button> 
  </div>  
</dl>